<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Novo Professor</h1>
    <form action='/professores/novo' method='POST'>
        <input type='text' name='nome' placeholder='Nome' />
        <button type='submit'>Salvar</button>
    </form>
</body>
</html>